body
{
	color: white;
	background-image:url(img/tlo.png);
	font-family: 'Inconsolata', ;
	
}

#calosc
{
	margin-left: auto;
	margin-right: auto;
	width: 1000px;

}

#logo
{
    align-content: center;
    
}

#panel_gorny
{
	
	padding: 10px;
	background-color: #43705E;
	
}

#panel_boczny
{
	float: left;
	width: 160px;
	margin-top: 20px;
}

#zawartosc
{
	margin-top: 20px;
	float: left;
	width: 640px;
	text-align: center;	
}

#sub_site
{
    min-height: 100%;
}

#sub_site_center
{
    min-height: 100%;
    align-content: center;
    margin-top: 20%;
}

.formInput
{
    
}

#reg_center
{
    height: 50%;
}

#logowanie
{
	margin-top: 20px;
	float: left;
	width: 200px;
	font-size: 20px;
}

#stopka
{
	text-align: center;
	padding: 10px;
	font-size: 25px;
	background-color: #43705E;
	margin-top: 20px;
}

.przycisk_gora
{
	text-align: center;
	float: left;
	padding: 10px;
	font-size: 22px;
	/*position: relative;
	left: 18%;*/

	
}

#wyrownywacz
{
	width: 60%;
	margin: 0 auto;

}

.przycisk_gora:hover
{
	
	background-color: #9BCFBF;
	color: black;


}
.przycisk_bok
{
	padding: 5px;
	font-size: 18px;
	
	
}

.przycisk_bok:hover
{
	background-color: #9BCFBF;
	color: black;
	border-radius: 6px;
}