<?xml version="1.0" encoding="UTF-8"?>

<juiceboxgallery 

	resizeOnImport="false"
	galleryTitle="zdjecie"
	showExpandButton="false"
	showThumbsButton="false"
	showOpenButton="false"
	indexPageName="galeria.html"

>
  <image imageURL="images/Capture - Copy (2).jpg"
	thumbURL="thumbs/Capture - Copy (2).jpg"
	linkURL="images/Capture - Copy (2).jpg"
	linkTarget="_blank"
	sourcePath="C:\xampp\htdocs\virgin-repo\img\galeria\Capture - Copy (2).PNG">
    <title><![CDATA[Capture - Copy (2)]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/Capture - Copy (3).jpg"
	thumbURL="thumbs/Capture - Copy (3).jpg"
	linkURL="images/Capture - Copy (3).jpg"
	linkTarget="_blank"
	sourcePath="C:\xampp\htdocs\virgin-repo\img\galeria\Capture - Copy (3).PNG">
    <title><![CDATA[Capture - Copy (3)]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/Capture - Copy (4).jpg"
	thumbURL="thumbs/Capture - Copy (4).jpg"
	linkURL="images/Capture - Copy (4).jpg"
	linkTarget="_blank"
	sourcePath="C:\xampp\htdocs\virgin-repo\img\galeria\Capture - Copy (4).PNG">
    <title><![CDATA[Capture - Copy (4)]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/Capture - Copy (5).jpg"
	thumbURL="thumbs/Capture - Copy (5).jpg"
	linkURL="images/Capture - Copy (5).jpg"
	linkTarget="_blank"
	sourcePath="C:\xampp\htdocs\virgin-repo\img\galeria\Capture - Copy (5).PNG">
    <title><![CDATA[Capture - Copy (5)]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/Capture - Copy (6).jpg"
	thumbURL="thumbs/Capture - Copy (6).jpg"
	linkURL="images/Capture - Copy (6).jpg"
	linkTarget="_blank"
	sourcePath="C:\xampp\htdocs\virgin-repo\img\galeria\Capture - Copy (6).PNG">
    <title><![CDATA[Capture - Copy (6)]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/Capture - Copy (7).jpg"
	thumbURL="thumbs/Capture - Copy (7).jpg"
	linkURL="images/Capture - Copy (7).jpg"
	linkTarget="_blank"
	sourcePath="C:\xampp\htdocs\virgin-repo\img\galeria\Capture - Copy (7).PNG">
    <title><![CDATA[Capture - Copy (7)]]></title>
    <caption><![CDATA[]]></caption>
  </image>
</juiceboxgallery>